doctype html
html
  head
    title Contact Us
    link(rel='stylesheet', href='/css/style.css')
    
  body
    nav
      ul
        li
          a(href='/') Home
        li
          a(href='/services') Our Services
        li
          a(href='/contact') Contact Us
    h1 Contact Us
    p For any inquiries or assistance, please feel free to reach out to us using the contact information below:
    address
      p Address: Tunsia , Tunisia 1100
      p Phone: +216 99 656 744
      p Email: info-shopping@gmail.com
