doctype html
html
  head
    title Home
    link(rel='stylesheet', href='/css/style.css')
    
  body
    nav
      ul
        li
          a(href='/') Home
        li
          a(href='/services') Our Services
        li
          a(href='/contact') Contact Us
    h1 Welcome to our Shopping Web Application
    p Check out our latest products and offers below:
    ul
      li Samsung
      li Iphone
      li Other Phone 
