doctype html
html
  head
    title Our Services
    link(rel='stylesheet', href='/css/style.css')
    
  body
    nav
      ul
        li
          a(href='/') Home
        li
          a(href='/services') Our Services
        li
          a(href='/contact') Contact Us
    h1 Our Services
    p We offer a wide range of services for your shopping needs, including:
    ul
      li Delivery services
      li Technical Services
      li Product recommendations
